.parent{
    background-color:red;
    padding:10px;
    margin:30px 0;
}
.bg-blue{
    background-color:blue;
}
.bg-green{
    background-color:green;
}
.bg-yellow{
    background-color:yellow;
}
.bg-pink{
    background-color:pink;
}
  
.h-20{
    height:20px;
}
.h-30{
    height:30px;
}
.h-40{
    height:40px;
}
.h-50{
    height:50px;
}
.w-50{
    width:20px;
}
.w-150{
    width:150px;
}
  
.flex{
    display:flex;
    align-items: center;
}

.parent-1 .child{
    width: 25%;
    margin-top: 8px;
}
 .flex.parent-2{
    justify-content: space-between;
}
.parent-3 .child{
    width: 25%;
    margin-right:12px;
}
.parent-4 .child{
    width: 25%;
    margin-right: 8px;
}

  