*{font-weight: 400px;}
section{
    position: relative;
    max-width: 72rem;
    display: flex;
    margin-bottom: 1.25rem;
}
.titleH1{
    margin-bottom: 1.25rem;
    margin-top: 2rem;
}
.class{
    margin-right: 2em;
}
.pText{
    max-width: 400px;
    margin-bottom: 5rem;
}
h1{font-size: 1.875rem;
font-weight: 600px;}
h2{font-size: 1.5rem;
font-weight: 600px;}
h4{font-size:1.125rem;
    font-weight: 600px;}
h6{font-size: 0.875rem;
    font-weight: 600px;}
a{font-size: 0.9rem;
    font-weight: 600px;}
p{font-size: 0.9rem;
    font-weight: 600px;}

.relative{
    position: relative;
    max-width: 72rem;
    margin-bottom: 2rem;
}

img{
    width: 100%;
    border-radius: 0.5rem;
}

.absolute {
    position: absolute;
    top:0px;
    right: 0px;
    padding: 1rem;
    background-color: #000000;
    color:#ffffff;
    opacity: 0.5;
    font-size: 0.9rem;
    border-top-right-radius: 0.5rem;
}
.tag {
    float: left;
    margin-right:0.25rem;
    width: fit-content;
    padding: 15px;
    background-color:#f7f4ee ;
    color: #85B72C;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.5rem;
}
.title{
    margin-top: 2rem;
    margin-bottom: 1.25rem;
}
.text{
    color: #7a7a7a;
    margin-bottom: 0.5rem;
}
.flex{
    display: flex;
}

